:root{
	--BackgroundWrapperColor: darkorchid;
	--SelectionColor: rgb(103, 19, 136);
}

#estrellas-container{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	font-size: large;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	min-height: 100svh;
}

body ::selection{
	background-color: var(--SelectionColor);
}

h1{
	text-align: center;
	background-color: var(--BackgroundWrapperColor);
	margin-bottom: 10px;
}

h1,footer{
	padding: 10px;
}

footer{
	background-color: var(--BackgroundWrapperColor);
}

.root{
	margin: 10px;
}