*{
    margin: 0;
    padding: 0;
    
}
body{
  background-color: #000000;
}

#estrellas-container{
    position: fixed;
    inset :0;
    overflow-y:scroll;
    overflow-x: hidden;
}
.estrella{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 0;
    pointer-events: none;
    z-index: -1;

}
.AbsBlock {
    position: fixed;
    height: 30px;
    width: 30px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/040/452/262/small/ai-generated-pineapple-isolated-on-transparent-background-free-png.png");
    background-size: cover;
    pointer-events: none;
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}

@keyframes Fade {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    75% {
        opacity: 1;
        width: 5px;
        height: 5px;
    }
    100% {
        opacity: 0;
        width: 0%;
        height: 0%;
        rotate: 40deg;
        transform: translateY(10px);
    }
}