body {
    
        background-color: antiquewhite;
    }


header {
    color: orange;
}

p{
    color: orange;
}

content{
    color: orange;
}

Content {
    color: orange;
}

.contenedor1{
    background-color:mediumslateblue;
    padding: 35px;
    color:hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contenedor2 {
    background-color: darkblue;
    padding: 35px;
    color: deepskyblue;
}

.contenedor3 {
    background-color: gold;
    padding: 35px;
    color: goldenrod;
}

.contenedor4 {
    background-color: crimson;
    padding: 35px;
    color: pink;
}

.AbsBlock {
    position: fixed;
    height: 30px;
    width: 30px;
    background-image: url("https://static.wikitide.net/nullscapewiki/9/90/Probably_Improper_Speeded_Mart.gif");
    background-size: cover;
    pointer-events: none;
}